<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TESTIMONIAL</title>
</head>
<body>
    <section class="testimonial section">
        <h2 class="section-title">Testimonial</h2>
        <span class="section-subtitle">My client saying</span>

        <div class="container section-border">
          <div class="testimonial-container swiper">
            <div class="swiper-wrapper">
              <!--------------------- TESTIMONIAL 1 ---------------------->
              <div class="testimonial-content swiper-slide">
                <p class="testimonial-description">
                  "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dicta quam nihil earum impedit. Sunt unde ex placeat harum
                  quasi necessitatibus veniam aliquid asperiores. Eaque quidem
                  beatae molestias!"
                </p>

                <div>
                  <h3 class="testimonial-name">Klay Harris</h3>
                  <span class="testimonial-subtitle">Client</span>
                </div>
              </div>

              <!--------------------- TESTIMONIAL 2 ---------------------->
              <div class="testimonial-content swiper-slide">
                <p class="testimonial-description">
                  "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dicta quam nihil earum impedit. Sunt unde ex placeat harum
                  quasi necessitatibus veniam aliquid asperiores. Eaque quidem
                  beatae molestias!"
                </p>

                <div>
                  <h3 class="testimonial-name">Mary Lens</h3>
                  <span class="testimonial-subtitle">Client</span>
                </div>
              </div>

              <!--------------------- TESTIMONIAL 3 ---------------------->
              <div class="testimonial-content swiper-slide">
                <p class="testimonial-description">
                  "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dicta quam nihil earum impedit. Sunt unde ex placeat harum
                  quasi necessitatibus veniam aliquid asperiores. Eaque quidem
                  beatae molestias!"
                </p>

                <div>
                  <h3 class="testimonial-name">Anna Chel</h3>
                  <span class="testimonial-subtitle">Client</span>
                </div>
              </div>
            </div>

            <!-- Swiper arrows -->
            <div class="swiper-button-next">
              <i class="ri-arrow-right-s-line"></i>
            </div>
            <div class="swiper-button-prev">
              <i class="ri-arrow-left-s-line"></i>
            </div>
          </div>
        </div>

        <img
          src="./assets/img/shape-wawes.svg"
          alt="testimonial image"
          class="testimonial-img"
        />
      </section>
</body>
</html>